/*General stylings*/

body {
font-family: Helvetica;
font-size: 22px;
color: seashell;
background-color: black;
opacity: 0.9;
text-align: center;
width: 100%
}

* {
  padding: 0;
  margin: 0;
}

/* body, header, img, nav, span, div, p, footer, h1, h2, h3, h4, h5, h6 {
  border: 2px solid pink;
} */

/* Header */

header {
  height: 69px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 4;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}

header img {
  margin-left: 10px;
  height: 50px;
}

header nav {
  display: flex;
  flex-grow: 1;
  text-decoration: underline;
  justify-content:flex-end;
}

nav span a {
  padding-left: 10px;
  color: seashell;
}


/* Teasers */

.main-container {
  text-align: center;
  padding-top: 69px;
  width: 1200px;
  margin: auto;

}

/* Our mission */

.our-mission {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  align-items: center;

}

.our-mission .mission-text {
  background-color: black;
  width: 100%;
}

h2, h3, h4, h5 {
  padding: 10px;
}



/* Tea of the month */

.tea-of-month {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;

}

.teasers {
  display: flex;
  justify-content: center;

}

.teaser  {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
.teaser img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

/* Location */

.locations {
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.locations h2 {

}

.location {
  background-color: black;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 5px 20px;

}

.locations-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
  padding-top: 0px;
}


 .location p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Footer */

footer {
  height: 200px;
  display: block;
}

.copyright {
  text-align: left;
  padding-left: 20px;
}
